@keyframes shiny {
    0% {
        background-image: var(--cardBG-1);
    }

    20% {
        background-image: var(--cardBG-2);
    }

    40% {
        background-image: var(--cardBG-3);
    }

    60% {
        background-image: var(--cardBG-4);
    }

    80% {
        background-image: var(--cardBG-5);
    }

    100% {
        background-image: var(--cardBG-6);
        box-shadow: var(--card-box-shadow-hover);
    }
}

@keyframes no-shiny {
    0% {
        background-image: var(--cardBG-6);
        box-shadow: var(--card-box-shadow-hover);
    }

    20% {
        background-image: var(--cardBG-5);
    }

    40% {
        background-image: var(--cardBG-4);
    }

    60% {
        background-image: var(--cardBG-3);
    }

    80% {
        background-image: var(--cardBG-2);
    }

    100% {
        background-image: var(--cardBG-1);
    }
}