@import './animation.css';

@font-face {
  src: url('./assets/fonts/YesevaOne-Regular.ttf');
  font-family: main-font;
}
@font-face {
  src: url('./assets/fonts/JosefinSans-VariableFont_wght.ttf');
  font-family: text-font;
}

.body {
  background-color: var(--background);
  color: var(--text-primary);
  min-height: 100vh;
  font-family: main-font;
}

.navDark {
  background-color: var(--navBackground);
  color: var(--text-primary);
  width: 100vw;
  position: fixed;
  z-index: 100000000;
}

.navText {
  color: var(--text-primary) !important;
}

.linkChange {
  color: var(--linkColor);
}

.darkSummary,
.darkPicture,
.darkSkills {
  color: var(--text-primary);
  border-radius: 30px;
  margin-top: 3rem;
  padding: 2rem;
  background-image: var(--cardBG-1);
  box-shadow: var(--card-box-shadow);
}

.darkSummary {
  margin-top: 7rem;
  width: 850px;
  height: 420px;
}

.text-font{ 
  font-family: text-font;
}

.darkSummary:hover,
.darkPicture:hover,
.darkSkills:hover {
  animation: shiny 0.3s forwards;
}

.darkSummary:not(:hover),
.darkPicture:not(:hover),
.darkSkills:not(:hover) {
  animation: no-shiny 0.3s forwards;
}

.darkPicture {
  margin-top: 7rem;
  width: 450px;
  aspect-ratio: 1 / 1;
  position: relative;
}

.darkSkills {
  width: 400px;
  aspect-ratio: 16/9;
}

.darkCard {
  background-color: var(--projectCard);
  color: var(--text-primary);
  border-radius: 30px;
  margin-top: 2rem;
  width: 615px;
  height: 450px;
  margin-bottom: 2rem;
  box-shadow: var(--card-box-shadow);
}

.footerDark {
  background-color: var(--navBackground);
  color: white !important;
  width: 100%;
  margin-top: 2rem;
}

.imageOfMe {
  width: 350px;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1024px) and (min-width: 320px) {
  .darkSummary,
  .darkPicture,
  .darkSkills {
    color: var(--text-primary);
    border-radius: 30px;
    margin-top: 2rem;
    padding: 2rem;
    background-image: var(--cardBG-1);
    box-shadow: var(--card-box-shadow);
  }

  .darkSummary {
    margin-top: 7rem;
    width: auto;
    height: auto;
  }
  
  .darkPicture {
    /* margin: 2rem 10rem; */
    width: 300px;
    aspect-ratio: 1 / 1;
    position: relative;
  }
  
  .imageOfMe {
    width: 250px;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .darkSkills {
    width: 600px;
    aspect-ratio: 16/5;
  }
  
  .darkCard {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 600px) and (min-width: 320px) {
.icon-width {
  width: 150px;
}
}