:root {
  --dark-background-color: #0D1F2D;
  --dark-text-color: white;
  --light-background-color: #D9D9D9;
  --light-text-color: black;
}

body {
  background-color: var(--dark-background-color);
  color: var(--dark-text-color) !important;
  min-height: 100vh;
}

.navDark {
  background-color: #627C85;
  color: white !important;
  width: 100vw;
  position: fixed;
  z-index: 100000000;
}

.darkSummary,
.darkPicture,
.darkSkills {
  background-color: #779CAB;
  color: white;
  border-radius: 30px;
  margin-top: 2rem;
  padding: 2rem;
}

.darkSummary {
  margin-top: 7rem;
  width: 800px;
  height: 420px;
}

.darkPicture {
  margin-top: 7rem;
  width: 450px;
  height: 420px;
}

.darkSkills {
  width: 400px;
  min-height: 250px;
}

.darkCard {
  background-color: #779CAB;
  color: white;
  border-radius: 30px;
  margin-top: 2rem;
  width: 615px;
  height: 450px;
  margin-bottom: 2rem;
}

.footerDark {
  background-color: #627C85;
  color: white !important;
  width: 100%;
  margin-top:2rem;
}
















.navLight {
  background-color: #898f91;
  color: rgb(0, 0, 0) !important;
  margin-left: -12px;
  width: 100vw;
}


.lightMode {
  background-color: var(--light-background-color);
  color: var(--light-text-color) !important;
  min-height: 100vh;
}